*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a3a3a3;
    width: 100%;
    height: 100vh;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*---------------- HASTA ACA ES PARTE DE ENTREGABLE---------- */
    z-index: 2;
}
.oculto{
    visibility: hidden;
    /*---------------- HASTA ACA ES PARTE DE ENTREGABLE---------- */
    opacity: 0;
    transform: scale(0);
    height: 0;
    width: 0;
}

.divs{
    height: 100%;
    width: 30%;
    background-color: #405D72;
    display: flex;
    justify-content: center;
    align-items: center;
    /*---------------- HASTA ACA ES PARTE DE ENTREGABLE---------- */
    transition: opacity 0.7s,visibility 1s, transform 0.7s, width 0.7s, height 0.7s;
}

article{
    height: 45%;
    position: relative;
    border-radius: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: #8a8a8a;
}

article::before {
    content: '';
    position: absolute;
    /*---------------- HASTA ACA ES PARTE DE ENTREGABLE---------- */
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 25px;
    background: linear-gradient(var(--gradient-angle, 45deg), #000000, #5c5c5c, #919191, #ffffff);
    z-index: -1;
    filter: blur(15px);
}


#div1{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#div2{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.btn {
    /*---------------- HASTA ACA ES PARTE DE ENTREGABLE---------- */
    display: inline-block;
    width: 80%;
    height: 20%;
    color: #FFF8F3;
    border: 3px solid #F7E7DC;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 15px;
    transition: all 0.7s;
    font-weight:90px;
    font-family:'Courier New', Courier, monospace;
    font-size:2vw;
   }
   
   .btn:hover {
    background-color: #F7E7DC;
    color: #758694;
   }
/*---------------- Canvas no es requerido para ésta entrega ---------- */
#canvas_particles{
    filter: blur(2px);
    position: fixed;
    z-index: -5
}